.main_slider{
	height: 400px;
}
.slider_content .slider_content_info h1.slider_title{
	font-size: 45px;
}
.slider_content{
	height: 400px;
}

.the_gallery{
	.gallery_height{
		height: 340px;
	}
	.the_gallery_big_image{
		height: 340px;
	}
	margin-bottom: 80px;
}
.carousel_dots{
	display: none !important;
}