.main_slider{
	height: 500px;
}
.slider_content .slider_content_info h1.slider_title{
	font-size: 75px;
}
.slider_content{
	height: 500px;
}
.the_gallery{
	.gallery_height{
		height: 370px;
	}
	.the_gallery_big_image{
		height: 370px;
	}
	margin-bottom: 100px;
}

.carousel_dots{
	display: none !important;
}
